{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        // "eslint-config-egg/typescript"
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "single"]
    }
}
